<div class="container">
  <div class="row" id="big_callout">
    <div class="col-12">
      </div>
      <div class="visible-sm">
        <a href="#" class="btn btn-large btn-block btn-default"><span class="glyphicon glyphicon-phone"></span> Give us a call!</a>
      </div>
      <div class="well">
        <div class="page-header">
          <h1>Johnny Choo
            <small>The story of how I became a programmer</small>
          </h1>
        </div>

        <p class="lead">I started off as a graphic designer but NOW I PROGRAM WOW! SO GREAT!</p>

        <p>I'll continue to become better</p>
        <a href="#" class="btn btn-large btn-primary">Click here</a>
        <a href="#" class="btn btn-large btn-link">Click here</a>
      </div>
    </div>
  </div>
</div>