<div class="container">
<div class="row" id="features_heading">
    <div class="col-12">
      <h2>More Features</h2>
      <p class="lead">Once upon a time there was a feature.</p>
    </div>
</div>
</div>