<div class="container">
  <div class="row" id="features">
    <div class="col-sm-4 feature">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Mree</h3>
          </div>
          <div class="panel-body">
            <%= image_tag 'mree.jpg', size: '200x200', class: 'img-circle' %>

            <p>Mree is a great indie youtube singer!</p>
            <a href="https://www.youtube.com" target="_blank" class="btn btn-warning btn-block">Listen!</a>
        </div>
    </div>
    </div>
    <div class="col-sm-4 feature">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Daft Punk</h3>
        </div>
        <div class="panel-body">
          <%= image_tag 'daft_punk.jpg', size: '200x200', class: 'img-circle' %>

          <p>DAFT PUNK is an amazing electronic band!</p>
          <a href="https://www.youtube.com" target="_blank" class="btn btn-danger btn-block">Listen!</a>
     </div>
      </div>
    </div>
    <div class="col-sm-4 feature">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Howls Moving Castle</h3>
        </div>
        <div class="panel-body">
          <%= image_tag 'howls.jpg', size: '200x200', class: 'img-circle' %>

          <p>Incredible movie by Miyazaki</p>
        <a href="https://www.youtube.com" target="_blank" class="btn btn-warning btn-block">Listen!</a>
      </div>
      </div>
    </div>
  </div>
</div>